redis
bcrypt
Flask-JWT-Extended
Flask
mysql-connector-python
python-dotenv

debugpy
Flask-CORS
openmeteo-requests
requests-cache 
retry-requests 
numpy 
pandas

Flask-SocketIO
APScheduler
gevent
gevent-websocket